@font-face {
    font-family: font_helvetica;
    src: url("../fonts/Helvetica\ Inserat\ LT.ttf");
}

@font-face {
    font-family: font_tahoma_regular;
    src: url("../fonts/Tahoma\ Regular\ font.ttf");
}

@font-face {
    font-family: font_tahoma_bd;
    src: url("../fonts/tahomabd.ttf");
}

$colorLightGray:#ccc;
$colorMiddleGray: #a3a3a3;
$colorDarkGray: #515151;



html {
    box-sizing: border-box;
}

:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

.arrow {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}

.wrapper-width {
    max-width: 1152px;
    margin: 0 auto;
}

.tahoma_regular {
    font-family: font_tahoma_regular;
    font-size: 12px;
}

.tahoma_bold {
    font-family: font_tahoma_bd;
    font-size: 12px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#container {
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    border: 1px solid $colorLightGray;
    color: #fff;

    .logo {
        position: absolute;
        z-index: 7;
        top: calc(9% - 12px);
    }

    header {
        @extend .wrapper-width;
        display: flex;
        flex-direction: column;
        height: 110px;
        background: $colorLightGray;
        margin-bottom: 10px;

        nav {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            height: 100%;
            //hamburger menu
            #menu-button{
                width: 50px;
                border-radius: 5px;
                position: absolute;
                left: calc(10% - 15px);
                top: 76px;
                cursor: pointer;
                transition: all linear .3s;
                padding: 4px;
                display: none;
              }
              
              #line-1,#line-2,#line-3{
                width: 60%;
                background: #fff;
                height: 4px;
                margin: 4px auto;
                border-radius: 2px;
                transition: all linear .3s;
              }
              
              #line-1.active{
              -webkit-transform: translate(0px,8px) rotate(45deg);
              transform: translate(0px,8px) rotate(45deg);
              }
              
              #line-2.active{
              opacity: 0;
              }
              
              #line-3.active{
              -webkit-transform: translate(0px, -8px) rotate(-45deg);
              transform: translate(0px, -8px) rotate(-45deg);
              }
             
            .main-menu {
                justify-content: flex-start;
                position: absolute;
                left: calc(5% + 10px);
                top: 79px;

                li {
                    display: flex;
                    background-color: #666;
                    width: 100px;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    @extend .tahoma_bold;

                    a {
                        font-size: 14px;
                        color: #fff;
                    }
                }
                  //Fix font for IE
                 li{
                    font-family: Tahoma, sans-serif !important;
                    font-weight: bold;
                 }

                li:hover{
                    background: #000;
                }

                li:not(:last-child) {
                    margin-right: 2px;
                }
            }

            .dropdown-menu {
                position: relative;
                transition-duration: 0.5s;


                .arrow {
                    margin-top: 4px;
                    margin-right: 3px;
                }

                ul.submenu {
                    display: none;
                    width: 100%;
                    position: absolute;
                    top: 48%;
                    transition: all 0.5s ease;
                    top: 100%;
                    left: calc(10% - 10px);

                    li {
                        width: 138px;
                        @extend .tahoma_regular;
                        color: #fff;
                        background: #000;
                        display: block;
                        position: relative;
                        height: 20px;
                        padding: 0 5px;

                        a {
                            display: block;
                            font-size: 12px;
                        }

                    }
                    // Fix font for IE
                    li{
                        font-family: Tahoma, sans-serif !important;
                        font-weight: normal;
                    }

                    li:first-child {
                        padding-top: 5px;
                    }

                    li:last-child {
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }

                    li:not(:last-child) {
                        padding-bottom: 16px;
                    }

                    li:nth-child(2) {
                        padding-bottom: 20px;
                    }

                    li:not(:last-child) a {
                        border-bottom: 1px solid #808080;
                        padding-bottom: 10px;
                    }
                }
            }

            .dropdown-menu:hover>a span {
                transform: rotate(90deg);
            }

            .dropdown-menu:hover>ul {
                display: block;
            }

            .flags-menu {
                width: 100%;
                justify-content: flex-end;

                li {
                    img {
                        border: 2px solid #909090;
                        border-radius: 3px;
                    }

                    img:hover {
                        border: 2px solid #000;
                        border-radius: 3px;
                    }
                }

                .active-flag {
                    border: 2px solid #000;
                    border-radius: 3px;
                }

                li:not(:last-child) {
                    margin-right: 8px;
                }

                li:last-child {
                    margin-right: 10px;
                }
            }
        }
    }

    #wrapper {
        @extend .wrapper-width;
        display: flex;
        background: $colorLightGray;

        p {
            @extend .tahoma_regular;
            text-align: justify;
        }
        //Fix font for IE
        p{
            font-family: Tahoma, sans-serif !important;
        }

        .left {
            width: 70%;
            height: auto;
            background: $colorDarkGray;
            border: 10px solid $colorLightGray;

            p {
                text-indent: 36px;
                margin: 0 24px 30px 24px;
            }

            h1 {
                font-family: font_helvetica;
                font-family:  Helvetica, sans-serif;
                font-size: 48px;
                margin: 25px 0 15px 28px;
            }

            hr {
                border: none;
                position: relative;
                width: calc(100% - 20px);
                height: 2px;
                border-bottom: 1px solid #7a7a7a;
                background: #000;
            }

            p:last-child {
                margin-bottom: 200px;
            }
        }

        .right {
            width: 30%;
            height: auto;
            background: $colorDarkGray;
            border: 10px solid $colorMiddleGray;

            .content-dropdown {
                background: #000;
                margin: 10px;

                .item:not(:last-child) {
                    border-bottom: 1px solid #515151;
                }

                .open {
                    transform: rotate(90deg);
                }

                .close {
                    transform: rotate(0deg);
                }

                .item {
                    padding: 10px 12px;
                }

                a.title {
                    display: flex;
                    position: relative;
                    align-items: center;
                    color: #fff;
                    @extend .tahoma_regular;
                }
                //Fix font for IE
                a{
                     font-family: Tahoma, sans-serif !important;
                }




                p.cont {
                    padding: 30px 0 14px 0;
                    margin: 0;
                }
            }

        }

    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @extend .wrapper-width;
        color: $colorDarkGray;
        margin-top: 10px;
        background: $colorLightGray;

        ul {
            width: 100%;
        }

        .rights {
            width: 100%;

            p {
                padding: 19px;
                @extend .tahoma_regular;
                margin: 0 !important;
                font-size: 14px;
            }
             //Fix font for IE
             p{
            font-family: Tahoma, sans-serif !important;
             }

        }

        .footer-menu {
            padding: 19px;
            justify-content: flex-end;

            li {
                @extend .tahoma_regular;

                a {
                    color: $colorDarkGray;
                    text-decoration: underline;
                    font-size: 14px;
                }
                a:hover{
                    color: #000;
                }
            }
            //Fix font for IE
            li{
            font-family: Tahoma, sans-serif !important;

            }
            li:not(:last-child) {
                margin-right: 17px;
            }
        }
    }
   
}


@media all and (max-width: 992px) {
    #container {
        .logo{
            top: 0;
        }
       .header{
        .main-menu{
            display: none;
            flex-direction: column;
            z-index: 8;
            width: 100%;
            top: calc(10% + 4px);
            top: 0;
            left: 0;
            li{
                width: 100%;
            }
            .submenu{
                left: 0;
                li{
                    width: 100%;
                    text-align: center;
                    padding: 0;
                }
            }
        }
        
        #menu-button{
            display: block;
            z-index: 9;
        }
       }
        #wrapper {
            flex-direction: column;

            .left,
            .right {
                width: 100%;
                box-sizing: border-box;
            }
        }
        .footer{
            flex-direction: column;
            align-items: center;
            .rights{
                display: flex;
                justify-content: center;
            }
            .footer-menu{
                padding: 19px 0;
                justify-content: center;
            }
        }
    }
}